<!-- // container de login administrateur -->
<div class="container_login">

    <!-- // content global de login  -->
    <div class="content_global">

        <!-- // content login -->
        <div class="content">

            <!-- // welcome container  -->
            <div class="welcome_container">
                <!-- // welcome  -->
                <div class="welcome">
                    <p class="para_welcome"> Bienvenue. </p>
                </div>
                <!-- // message de ce connecter -->
                <div class="message">
                    <p>
                        Connectez-vous à votre compte s'il vous plaît.
                    </p>
                </div>
            </div>


            <!-- //////////////////// logo et input -->
            <div class="bare_container">

                

                <!-- // mon petit bare  -->
                <div class="bare" style="position: relative; top: 50px;">
                    <div class="ligne"></div>
                </div>
    

                <div class="container_information_admin">

                    <div class="bare">
                        <div class="ligne"></div>
                    </div>
    
                    <!-- // image logo -->
                    <div class="image_logo">
                        <div class="logo">
                            <img src="../../../assets/images/LOGO2.png" alt="">
                        </div>
                    </div>
    
                    <!-- ///// information input  -->
                    <form class="input_champs">
    
                        <div class="form_input">
                            <!-- // titre email -->
                            <div class="titre">
                                <p>Email <span class="required">*</span></p>
                            </div>
    
                            <!-- // input champs -->
                            <div class="input">
                                <input [(ngModel)]="email" type="text" name="nom" id="email" required placeholder="votre nom s'il vous plaît.">
                            </div>
                        </div>
    
                        <div class="form_input">
                            <!-- // titre email -->
                            <div class="titre">
                                <p>Mot de passe <span class="required">*</span></p>
                            </div>
    
                            <!-- // input champs -->
                            <div class="input">
                                <input [(ngModel)]="motDePasse" type="password" name="password" id="motDePasse" required placeholder="*****************">
                            </div>
                        </div>

                        <div class="btn_submit">
                            <button (click)="onSubmit()" type="submit" class="btn">
                                Connectez-vous au tableau de bord
                            </button>
                        </div>
    
                    </form>
                </div>

                <!-- // mon petit bare  -->
                <div class="bare" style="position: relative; top: -20px;">
                    <div class="ligne"></div>
                </div>
    

            </div>


            <!-- //////////////// Copy right  -->
            <div class="copy">
                <p>
                    CopyRight, Tout droit reserver
                </p>
            </div>

        </div>

    </div>
       
</div>