.welcome_container {
    margin: 20px 0 0 20px;
}

.container_information_admin {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60vh

}


.form_input {
    margin-bottom: 10px;
}

.logo {
    width: 280px;
    height: 130px;
}

.required {
    color: red;
}

.input_champs {
    padding: 30px;
}

.logo img {
    width: 100%;
    height: 100%;
}

.titre {
    margin-bottom: 7px;
}

.input input{
    max-width: 370px;
    width: 100%;
    border: 1px solid #d6d4d4;
    border-radius: 5px;
    height: 40px;
    background: transparent;
    padding-left: 15px;
    outline: none;
    /* pointer-events: none; */
}

.btn_submit {
    /* margin-top: 20px; */
    position: relative;
    top: 20px;
}

.btn {
    width: 105%;
    height: 40px;
    border: none;
    background-color: #008000;
    color: #fff;
    letter-spacing: 1px;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
    &:hover {
        background-color: #006300;
        transition: 0.5s all ease-in-out;
    }
}

.bare {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ligne {
    width: 60%;
    background-color: #d6d4d4d8;
    height: 1px;
}

/* /////////// */

.copy {
    position: absolute;
    bottom: -80px;
    right: 20px;
}

.copy p {
    font-size: 14px;
    letter-spacing: 0.60px;

}

