<!-- // container de login administrateur -->
<div class="container_login">

    <!-- // content global de login  -->
    <div class="content_global">

        <!-- // content login -->
        <div class="content">

            <!-- // welcome container  -->
            <div class="welcome_container">
                <!-- // welcome  -->
                <div class="welcome">
                    <p class="para_welcome"> Dashboard /  </p>

                    <p class="para_welcome" style="padding-left: 10px;"> Inscription </p>
                </div>
                <!-- // Photo de logo -->
                <div class="image_logo">
                    <img src="../../../assets/images/LOGO2.png" alt="">
                </div>
                
                <div class="welcome_two">
                    <p class="para_welcome"> Bienvenue, </p>
                    <p class="para_welcome_para">Connecter-vous à votre compte s'il vous plaît.</p>
                </div>
                
            </div>


            <!-- //////////////////// logo et input -->
            <div class="bare_container">

                

                <!-- // mon petit bare  -->
                <div class="bare" style="position: relative; top: 50px;">
                    <div class="ligne"></div>
                </div>
    

                <div class="container_information_admin">

                    <div class="bare">
                        <div class="ligne"></div>
                    </div>
    
                    <!-- ///// information input  -->
                    <form class="input_champs">
    
                        <div class="double_input">
                            <!-- // input 1 -->
                            <div class="form_input">
                                <!-- // titre email -->
                                <div class="titre">
                                    <p>Nom <span class="required">*</span></p>
                                </div>
        
                                <!-- // input champs -->
                                <div class="input">
                                    <input type="text" name="nom" id="nom" required placeholder="Saisis vote nom...">
                                </div>
                            </div>
                            <!-- // input 2  -->
                            <div class="form_input form_input_media" style="padding-left: 30px;">
                                <!-- // titre email -->
                                <div class="titre">
                                    <p>Prénom <span class="required">*</span></p>
                                </div>
        
                                <!-- // input champs -->
                                <div class="input">
                                    <input type="text" name="prenom" id="prenom" required placeholder="Saisis vote prénom...">
                                </div>
                            </div>
                        </div>
                        <!-- // input 1 -->
                        <div class="form_input">
                            <!-- // titre email -->
                            <div class="titre">
                                <p>Email <span class="required">*</span></p>
                            </div>
    
                            <!-- // input champs -->
                            <div class="input_email">
                                <input type="email" name="email" id="email" required placeholder="Saisis votre email...">
                            </div>
                        </div>
                        <!-- ////////////////  -->
                        <div class="double_input">
                            <!-- // input 4 -->
                            <div class="form_input">
                                <!-- // titre email -->
                                <div class="titre">
                                    <p>Mot de passe <span class="required">*</span></p>
                                </div>
        
                                <!-- // input champs -->
                                <div class="input">
                                    <input type="password" name="password" id="password" required placeholder="Mot de passe...">
                                </div>
                            </div>
                            <!-- // input 5  -->
                            <div class="form_input form_input_media" style="padding-left: 30px;">
                                <!-- // titre email -->
                                <div class="titre">
                                    <p>Confirm mot de passe <span class="required">*</span></p>
                                </div>
        
                                <!-- // input champs -->
                                <div class="input">
                                    <input type="password" name="nom" id="nom" required placeholder="Confirm mot de passe...">
                                </div>
                            </div>
                        </div>

                        <!-- /////////////////////// -->
                        <div class="text_btn">
                            <div class="text_submit">
                                <p>
                                    J'ai déjà un compte ? <span>Se connecter</span>
                                </p>
                            </div>

                            <div class="button_submit">
                                <button class="submit" type="submit">
                                    Créer un compte
                                </button>
                            </div>
                        </div>
    
                    </form>


                </div>

                <!-- // mon petit bare  -->
                <div class="bare" style="position: relative; top: -20px;">
                    <div class="ligne"></div>
                </div>
    

            </div>


            <!-- //////////////// Copy right  -->
            <div class="copy">
                <p>
                    CopyRight, Tout droit reserver
                </p>
            </div>

        </div>

    </div>
       
</div>