<div class="container_global">

    <!-- /////////////// -->
    <div class="header_container">

        <header class="header">
            
            <!-- // icon de recheche -->
            <div class="search">
                <div class="icon_recheche">
                    <i class="ri-search-line"></i>
                </div>
            </div>
    
            <!-- // profil et nom d'administrateur  -->
            <div class="profil_container">
    
                <div class="content_profil">
    
                    <!-- // image  -->
                    <div class="image">
                        <img src="../../../assets/images/profil.jpg" alt="">
                    </div>
    
                    <!-- // nom et prenom d'admin  -->
                    <div class="name_admin">
                        <!-- // prenom  -->
                        <p class="prenom">
                            Diakaridia
                        </p>
                        <!-- // nom  -->
                        <p class="nom">
                            SY
                        </p>
                    </div>
    
                </div>
    
            </div>
    
        </header>
    
    </div>
    
    <div class="page" style="display: flex; align-items: center; margin: 20px 10px;">
        <p>
            Dashboard / 
        </p>
        <p style="font-size: 15px; margin-left: 10px; opacity: 0.8;">
            Dashboard
        </p>
    </div>    

    <app-accueil>k</app-accueil>

</div>