.titre_profil {
    margin: 20px;
}

.titre {
    display: flex;
    align-items: center;
}

.titre p {
    font-size: 18px;
}

/* ////////////  */

.content {
    display: flex;
}

/* :::::::::::::::::::  */

.left_profil_admin{
    margin-left: 20px;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 1px 5px #00000013;
    z-index: 999999999999;
}

/* .left_profil .content_left {
    position: relative;
    width: 23%;
    background-color: #FFF;
    height: 420px;
    border-radius: 20px;
    box-shadow: 0 1px 5px #00000013;
} */

.image_couverture {
    position: absolute;
    top: 0;
}

.image_couverture  img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* :::::::::::::::::::::::  */

.image_admin {
    width: 90px;
    height: 90px;
    position: relative;
    top: -52px;
    margin: 0 auto;
}

.image_admin img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 1px 5px #FFF;
}

.contenue_profil {
    margin-top: -40px;
    text-align: center;
}

.contenue_profil p {
    font-size: 18px ;
    font-weight: 500;
    letter-spacing: 0.60px;
}

.membre {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.membre i {
    font-size: 10px;
    margin-right: 5px;
    color: #008000;
}

.membre p {
    font-size: 8px;
}

.description {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.description p {
    font-size: 12px;
    width: 200px;
    font-weight: 500;
    letter-spacing: 0.60px;
}


/* ::::::::::::::::::::::::::::  */

.right_profil {
    margin-left: 20px;
    background-color: #FFF;
    height: auto;
    width: auto;
    margin-right: 20px;
    border-radius: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.titre_right {
    margin: 20px 0 20px 0px;
}

.titre_right p {
    font-size: 18px;
}

/* ::::::::::::::::::  */

.double_input {
    display: flex;
    align-items: center;
    width: 100%;
}

.input_right {
    margin-left: 20px;
}

/* .input_containair {
    margin-left: 30px;
} */


/* ::::::::::::::::::::::::::  */

.input_left label {
    font-size: 17px;
    letter-spacing: 0.60px;
    font-weight: 500;
}

/* ::::::::::::::::  */

.input_right label {
    font-size: 17px;
    letter-spacing: 0.60px;
    font-weight: 500;
}

/* ////////////////////////  */

.input_left input {
    width: 300px;
    height: 44px;
    border-radius: 5px;
    border: 1px solid #DDD;
    background: #F2F6FA;
    padding-left: 15px;
    margin-top: 7px;
    margin-bottom: 15px;
    outline: none;

}

/* /////////////////////////// */

.input_right input {
    width: 300px;
    height: 44px;
    border-radius: 5px;
    border: 1px solid #DDD;
    background: #F2F6FA;
    padding-left: 15px;
    margin-top: 7px;
    margin-bottom: 15px;
    outline: none;
}

/* ::::::::::::::::::::::  */


.input_seul label {
    font-size: 17px;
    letter-spacing: 0.60px;
    font-weight: 500;
}

/* ////////////////////// */

.input_seul input {
    width: 635px;
    height: 44px;
    border-radius: 5px;
    border: 1px solid #DDD;
    background: #F2F6FA;
    padding-left: 15px;
    margin-top: 7px;
    margin-bottom: 15px;
    outline: none;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.logo img {
    width: 100px;
    height: auto;
    opacity: 0.4;
}


/* ::::::::::::::::::::::::::::  */

.image_admin_tof {
    width: 300px;
    height: auto;
}

.image_admin_tof img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}