/* /////////////////////////////////////// */

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  margin-right: 50px;
}

/* ///// */

.input-container {
  position: relative;
}

.input {
  border: 2px solid transparent;
  width: 15em;
  height: 2.5em;
  padding-left: 0.8em;
  outline: none;
  overflow: hidden;
  background-color: #F3F3F3;
  border-radius: 10px;
  transition: all 0.5s;
}

.input:hover,
.input:focus {
  border: 1px solid #008000;
  box-shadow: 0px 0px 0px 7px rgba(0, 128, 0, 0.151);
  background-color: white;
}

.icon_svg {
  position: absolute;
  right: 10px;
  line-height: 2.7em;
}


.profil_image img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #00800085;
  transition: all 0.5s;
}

.profil_image img:hover {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #00800085;
  box-shadow: 0px 0px 0px 7px rgba(128, 98, 0, 0.151);
}


/* /////////////////////////////////////// */




.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-left: 10px;
  margin-right: 10px;
  padding: 20px;
}

.styled-table thead tr {
  background-color: #008000;
  color: #ffffff;
  text-align: left;
}

.styled-table th
 {
    padding: 12px 15px;
}



.styled-table td {
  padding: 12px 15px;
}


.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.event tr:hover{
  background-color: #0080004b;
}


.styled-table tbody tr:last-of-type {
  border-bottom: 1px solid #008000;
}

.styled-table tbody tr.active-row {
  font-weight: 500;
  color: #008000;
}

.contai_icon {
  display: flex;
  align-items: center;
}

.contai_icon .icon {
  font-size: 16px ;
  padding-left: 5px;
}

.contai_icon .mod {
  color: #008000;
}

.contai_icon .sup {
  color: red;
}

.id {
  width: 6%;
}

.nom {
  width: 15%;
}

.prenom {
  width: 15%;
}

.mail {
  width: 30%;
}

.tel {
  width: 15%;
}

.address {
  width: 15%;
}

.detail {
  width: 15%;
}

.table_name {
  margin-left: 20px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;

}


.table_container {
  background-color: #FFF;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 30px;
  border-radius: 20px;
  margin-top: 2%;
}
