<div class="table_container">

    <div class="header_container">

        <div class="table_name" >
            <p>
                Utilisateur
            </p>
        </div>

        <div class="search">
            <div class="input-container">
                <input type="text" name="text" class="input" placeholder="Recherche Utilisateur">
                <span class="icon_svg"> 
                  <svg width="19px" height="19px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path opacity="1" d="M14 5H20" stroke="#000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> <path opacity="1" d="M14 8H17" stroke="#000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M21 11.5C21 16.75 16.75 21 11.5 21C6.25 21 2 16.75 2 11.5C2 6.25 6.25 2 11.5 2" stroke="#000" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path> <path opacity="1" d="M22 22L20 20" stroke="#000" stroke-width="3.5" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                </span>
            </div>
        </div>

    </div>


    <table class="styled-table">
        <thead>
            <tr>
                <th class="id">#</th>
                <th class="nom">Nom</th>
                <th class="prenom">Prenom</th>
                <th class="mail">Email</th>
                <th class="tel">Téléphone</th>
                <th class="address">Quartier</th>
                <th class="detail">Détails</th>
            </tr>
        </thead>
        <tbody class="event" *ngFor="let afficheTouUser of listeToutUtilisateur">
            <tr>
                <td class="profil_image" routerLink="/profil-utilisateur/{{afficheTouUser.utilisateurId}}"> 
                    <img [src]="afficheTouUser.photo" alt="">
                </td>
                <td> {{ afficheTouUser.nom }} </td>

                <td> {{ afficheTouUser.prenom }} </td>

                <td> {{ afficheTouUser.email }} </td>

                <td> {{ afficheTouUser.numero }} </td>

                <td> {{ afficheTouUser.quartier }} </td>

                <td> 
                    <div class="contai_icon">
                        <div class="icon mod">
                            <i class="ri-edit-box-line"></i>
                        </div>
                        <div class="icon sup">
                            <i class="ri-delete-bin-3-line"></i>
                        </div>
                    </div>
                </td>
            </tr>
            <!-- <tr class="active-row">
                <td>2</td>
                <td>Doucoure</td>
                <td>Mady</td>
                <td>Mady{{ atSymbol }}gmail.com</td>
                <td>223 78787878</td>
                <td>Mali</td>
                <td> 
                    <div class="contai_icon">
                        <div class="icon mod">
                            <i class="ri-edit-box-line"></i>
                        </div>
                        <div class="icon sup">
                            <i class="ri-delete-bin-3-line"></i>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>Doucoure</td>
                <td>Mady</td>
                <td>Mady{{ atSymbol }}gmail.com</td>
                <td>223 78787878</td>
                <td>Mali</td>
                <td> 
                    <div class="contai_icon">
                        <div class="icon mod">
                            <i class="ri-edit-box-line"></i>
                        </div>
                        <div class="icon sup">
                            <i class="ri-delete-bin-3-line"></i>
                        </div>
                    </div>
                </td>
            </tr> -->
            <!-- and so on... -->
        </tbody>
    </table>
</div>