.sidenav {
    background: #fff;
    transition: all .5s ease;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 4rem;
    height: 100vh;
    box-shadow: 0.063rem 0 1.25rem 0 #8690a35e;
    margin-top: 10px;
    border-radius: 10px;
    /* margin-right: 20px; */
}

.logo-container {
    display: flex;
    align-items: center;
    padding: 0.938rem 0.938rem 0 0.938rem;
    width: 100%;   
}

.logo {
    background-color: #008000;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 0.313rem;
    /* padding: 0.313rem; */
    font-size: 16px;
    font-weight: 900;
    cursor: pointer;
    border: none;
    color: #fff;
    margin-left: 5px;
}

.logo-text {
    margin-left: 1.5rem;
    font-size: 24px;
    font-weight: 700;
    color: #fff;

}

.btn-close {
    margin-left: auto;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    margin-right: 20px;
}

.close-icon {
    font-size: 30px;
    color: #000;
    cursor: pointer;
}

.sidenav-collapsed {
    width: 16.5625rem!important;
}

.sidenav-nav {
    list-style: none;
    padding: 0.938rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 3.65rem);
    cursor: pointer;
}

.sidenav-nav-item {
    width: 100%;
    margin-bottom: 0.625rem;
}

.sidenav-nav-link {
    display: flex;
    align-items: center;
    height: 3rem;
    color: #f3f3f3;
    text-decoration: none;
    transition: all .3s ease;
    border-radius: 0.625rem!important;
}


.sidenav-link-icon {
    font-size: 22px;
    width: 2rem;
    min-width: 2rem;
    margin: 0 0.5rem;
    text-align: center;
}

.sidenav-link-text {
    margin-left: 1.5rem;
}

.sidenav-nav-item:hover {
    background-color: #fff;
    color: #000;
    border-radius: 0.625rem;
}

.sidenav-nav-link:hover {
    color: #000;
}




/* .content_dashboard {
    display: grid;
    grid-template-columns: 20% 80%;
} */

/* .menu_dashboard {
    background-color: #fff;
    margin: 10px 0 10px 10px;
    border-radius: 10px;
    width: 100%;
    height: 100vh;
    position: relative;
} */

.title_dash {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title_dash {
    margin-left: 10px;
    padding-top: 10px;
}

.title_dash p {
    background: linear-gradient(98deg, #000 70.67%, rgba(117, 122, 140, 0.00) 108.55%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icon_toggle {
    margin-right: 10px;
}

.icon_toggle i {
    font-size: 20px;
}

.bare {
    display: flex;
    justify-content: center;
    margin: 25px 0;
}

.ligne {
    border-bottom: 1px solid #000;
    width: 90%;
}







.content_tache {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.cadre_tache {
    display: flex;
    align-items: center;
    width: 180px;
    height: 54px;
    flex-shrink: 0;
    border-radius: 0 15px;
    background: #ACA;
    margin-left: 5px;
    /* background: linear-gradient(0deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.50) 100%), linear-gradient(0deg, rgba(0, 128, 0, 0.40) 0%, rgba(0, 128, 0, 0.40) 100%), rgba(0, 0, 0, 0.20); */
    box-shadow: 0px 0px 2px 0px rgba(0, 128, 0, 0.31);
    cursor: pointer;
}


.cadre_tache2 {
    display: flex;
    align-items: center;
    width: 180px;
    height: 54px;
    flex-shrink: 0;
    border-radius: 0 15px;
    background: #fff;
    margin-left: 5px;
    cursor: pointer;
    /* background: linear-gradient(0deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.50) 100%), linear-gradient(0deg, rgba(0, 128, 0, 0.40) 0%, rgba(0, 128, 0, 0.40) 100%), rgba(0, 0, 0, 0.20); */
    /* box-shadow: 0px 0px 2px 0px rgba(0, 128, 0, 0.31); */

        &:hover {
            background-color: #ACA;
            transition: all .3s ease;
        }
}

.container_icon {
    background-color: #ACA;
    height: 54px;
    padding-right: 10px;
    border-radius: 10px 10px 10px 0;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 5px;
}

.container_icon2 {
    background-color: #fff;
    height: 54px;
    padding-right: 10px;
    border-radius: 10px 10px 10px 0;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 5px;
}


.icon_tache {
    margin-left: 10px;
    width: 30px;
    height: 30px;
    /* background-color: #008000; */
    border-radius: 12px;
    background: #008000;
    cursor: pointer;
}
.icon_tache2 {
    margin-left: 10px;
    width: 30px;
    height: 30px;
    /* background-color: #008000; */
    border-radius: 12px;
    background: #ACA;
    cursor: pointer;
}

.icon_tache i {
    display: flex;
    justify-content: center;
    line-height: 30px;
    color: #fff;
    font-size: 20px;
}

.icon_tache2 i {
    display: flex;
    justify-content: center;
    line-height: 30px;
    color: #000;
    font-size: 20px;
}

.name_tache {
    margin-left: 10px;
}

.name_tache p {
    font-size: 15px;
    padding-left: 10px;
    pointer-events: none;
}

.page_compte {
    padding-left: 5%;
}

.page_compte p {
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 500;
}

.image_logo {
    width: 150px;
    height: 60px;
    margin: 30% auto;
}

.image_logo img {
    width: 100%;
    height: 100%;
}

.cadre_tache_global {
    display: flex;
    align-items: center;
    margin-bottom: 15px;    
}


/* .active {
    background-color: #ACA;
} */








/* //////////////////////////////////////////////////// */

/* .dashboard_contenu_global {
    margin-left: 30px;
} */
