<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : '' ">
    <!-- <div class="logo-container">
        <button class="logo" (click)="toggleCollapse()">V</button>
        <div class="logo-text" *ngIf="collapsed" style="font-size: 17px;">VetCare</div>
        <button class="btn-close" *ngIf="collapsed" (click)="closeSidenav()">
            <i class="ri-close-line close-icon"></i>
        </button>
    </div> -->

    <div class="menu_dashboard">

        <!-- // titre dashboard  -->
        <div class="title_dash">
           <div class="free" style="display: flex; align-items: center;">
             <button class="logo" (click)="toggleCollapse()">V</button>
            <p *ngIf="collapsed" style="padding-left: 20px;">
                VetCare
            </p>
           </div>

            <div class="icon_toggle" *ngIf="collapsed" (click)="closeSidenav()">
                <i class="ri-menu-3-fill close-icon"></i>
            </div>
        </div>

        <!-- //////// un bare  -->

        <div class="bare">
            <svg xmlns="http://www.w3.org/2000/svg" width="234" height="2" viewBox="0 0 234 2" fill="none">
                <path d="M0 1H233.25" stroke="url(#paint0_linear_343_1348)"/>
                <defs>
                    <linearGradient id="paint0_linear_343_1348" x1="0" y1="1" x2="231" y2="1" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#000101" stop-opacity="0"/>
                    <stop offset="0.5" stop-color="#283B4F"/>
                    <stop offset="1" stop-opacity="0.15625"/>
                    </linearGradient>
                </defs>
            </svg>
        </div>


        <div class="cadre_tache_global" routerLink="/dashboard">
            <!-- // icon  -->
            <div [ngClass]="{'cadre_tache_global': true, 'active_icon_dash': isDashboardClicked}" (click)="toggleDashboardClick()" class="container_icon">
                <div class="icon_tache">
                    <i class="ri-dashboard-fill"></i>
                </div>
            </div>
            
            <div [ngClass]="{'cadre_tache_global': true, 'active': isDashboardClicked}" (click)="toggleDashboardClick()" class="cadre_tache" *ngIf="collapsed">
            <!-- // name_tache  -->
                <div *ngIf="collapsed" class="name_tache">
                    <p>
                        Dashboard
                    </p>
                </div>
            </div>
        </div>


        <!-- // table utilisateur  -->
        <div class="cadre_tache_global" routerLink="/utilisateur">
            <!-- // icon  -->
            <div [ngClass]="{'cadre_tache_global': true, 'active_icon': isUtilisateurClicked}" (click)="toggleUtilisateurClick()" class="container_icon2">
                <div class="icon_tache2">
                    <i class="ri-user-fill"></i>
                </div>
            </div>
            
            <div [ngClass]="{'cadre_tache_global': true, 'active': isUtilisateurClicked}" (click)="toggleUtilisateurClick()" class="cadre_tache2" *ngIf="collapsed">
            <!-- // name_tache  -->
                <div *ngIf="collapsed" class="name_tache">
                    <p>
                        Table Utilisateur
                    </p>
                </div>
            </div>
        </div>

        <!-- // table veterinaire -->
        <div class="cadre_tache_global" routerLink="/veterinaire">
            <!-- // icon  -->
            <div [ngClass]="{'cadre_tache_global': true, 'active_icon': isVeterinaireClicked}" (click)="toggleVeterinaireClick()" class="container_icon2">
                <div class="icon_tache2">
                    <i class="ri-nurse-fill"></i>
                </div>
            </div>
            
            <div [ngClass]="{'cadre_tache_global': true, 'active': isVeterinaireClicked}" (click)="toggleVeterinaireClick()" class="cadre_tache2" *ngIf="collapsed">
            <!-- // name_tache  -->
                <div *ngIf="collapsed" class="name_tache">
                    <p>
                        Table Vétérinaire
                    </p>
                </div>
            </div>
        </div>

        <!-- // titre de page compte  -->
        <div class="page_compte" style="margin-bottom: 15px; display: flex; align-items: center;">
            <p style="padding-right: 8px; padding-left: 10px;">Page</p>
            <p  *ngIf="collapsed"> de compte</p>
        </div>
        
        <!-- // table utilisateur  -->
        <div class="cadre_tache_global" routerLink="/profil-admin">
            <!-- // icon  -->
            <div [ngClass]="{'cadre_tache_global': true, 'active_icon': isProfilAdminClicked}" (click)="toggleProfilAdminClick()" class="container_icon2">
                <div class="icon_tache2">
                    <i class="ri-account-circle-fill"></i>
                </div>
            </div>
            
            <div [ngClass]="{'cadre_tache_global': true, 'active': isProfilAdminClicked}" (click)="toggleProfilAdminClick()" class="cadre_tache2" *ngIf="collapsed">
            <!-- // name_tache  -->
                <div *ngIf="collapsed" class="name_tache">
                    <p>
                        Profil
                    </p>
                </div>
            </div>
        </div>

        <!-- // table veterinaire -->
        <div class="cadre_tache_global" routerLink="/ajouter-admin">
            <!-- // icon  -->
            <div [ngClass]="{'cadre_tache_global': true, 'active_icon': isAjouterAdminClicked}" (click)="toggleAjouterAdminClick()" class="container_icon2">
                <div class="icon_tache2">
                    <i style="transform: rotate(50deg);" class="ri-rocket-2-fill"></i>
                </div>
            </div>
            
            <div [ngClass]="{'cadre_tache_global': true, 'active': isAjouterAdminClicked}" (click)="toggleAjouterAdminClick()" class="cadre_tache2" *ngIf="collapsed">
            <!-- // name_tache  -->
                <div *ngIf="collapsed" class="name_tache">
                    <p>
                        Ajouter un Admin
                    </p>
                </div>
            </div>
        </div>

    </div>



    <!-- <ul class="sidenav-nav">
        <li class="sidenav-nav-item" *ngFor="let data of navData">
            <a class="sidenav-nav-link" [routerLink]="[data.routerLink]">
                <i class="sidenav-link-icon" [class]="data.icon"></i>
                <span class="sidenav-link-text" *ngIf="collapsed" >{{data.label}}</span>
            </a>
        </li>
    </ul> -->
</div>
